html {
    height: 100vh;
    margin: 0;
    padding: 0 !important;
}

body {
    background: #000;
    margin: 0 !important;
    padding: 0 !important;
}

.text {
    background-color: #000000;
    color: white;
    height: 100vh;
}