html {
    height: 100vh;
    margin: 0;
    padding: 0 !important;
}

body {
    background: #101010;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden; /* Add this line */

}

.text {
    font-family: "Arial", serif;
    width: 100%;
    background-color: #101010FF;
    color: #cccccc;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 800px;
    margin: auto;
    flex-direction: column;
}

h2 {
    background-color: transparent;
    text-shadow: 2px 2px 2px #CE5937;
}
